html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    border-bottom: solid 2px;
}